:root{
  --primary:#4bb6b7;
  --secondary:#FFFFFF;
  --gray:#575757;
  --lightgray:#848484;
  --lightgray2:rgb(127,183,126,0.1);
  --darkgray:#2E3238;
  --black:#393e46;
  --green:#00AD7C;
  --yellow:#FFEA61;

  --shadow:0px 2px 8px 0px var(--lightgray);
}

* {
  margin:0;
  padding:0;
  list-style-type: none;
  box-sizing:border-box;
  font-family:"Poppins", sans-serif;
}




/* navbar */
.navbar h2{
  font-size:1.8rem;
  font-weight:700;
  color:var(--primary);
}

.logo{
  width:3rem;
  height:3rem;
}

.navbar {
  position: fixed; /* Added to make the navbar stay fixed */
  top: 0; /* Adjusted to position the navbar at the top */
  left: 0; /* Added to align the navbar to the left */
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: var(--secondary);
  padding: 0 8%;
  z-index: 999; /* Added to ensure the navbar is displayed above other content */
  box-shadow: var(--shadow);
}

.usernav {
  height: calc(100vh - 70px); /* Adjusted to subtract the navbar height from the full viewport height */
  width: 100%;
  background-color: var(--primary);
  margin-top: 70px; /* Added to push the content below the navbar */
}

.navbar-logo{
  cursor:pointer;
}

.navbar-list{
  width:100%;
  text-align:right;
  padding-right:2rem;
}

.navbar-list li{
  display:inline-block;
  margin:0 1rem;
}

.navbar-list li a{
  font-size:1rem;
  font-weight:600;
  text-decoration:none;
  color:var(--lightgray);
}

.navbar-list li a:hover{
  font-size:1rem;
  font-weight:600;
  text-decoration:none;
  color:var(--primary);
}

.profile-dropdown{
  position:relative;
  width:fit-content;
}

.profile-dropdown-btn:hover{
  background-color:var(--lightgray2);
  box-shadow:var(--shadow);
}

.profile-dropdown-btn{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding-right:1rem;
  font-size:1rem;
  font-weight:600;
  border:1px solid var(--lightgray);
  border-radius:40px;
  cursor:pointer;
  width:150px;
  transition:box-shadow 0.2s,background-color 0.2s;
}

.profile-dropdown-btn span{
  margin:0 0.5rem;
  margin-right:0;
  color:var(--lightgray);
}

.profile-dropdown-btn i{
  color:var(--lightgray);
}

.profile-dropdown-list{
  position:absolute;
  top:68px;
  width:220px;
  right:0;
  background-color:var(--secondary);
  border-radius:10px;
  box-shadow:var(--shadow);
  max-height:0;
  overflow:hidden;
  transition:max-height 0.3s;
}

.profile-dropdown-list.active{
  max-height:500px;
}

.profile-dropdown-list hr{
  border:0.5px solid var(--primary);
}

.profile-dropdown-list-item{
  padding:0.5rem 0 0.5rem 1rem;
  transition:background-color 0.2s,padding-left 0.2s;
}

.profile-dropdown-list-item:hover{
  padding-left:1.5rem;
  background-color:var(--lightgray2);
}

.profile-dropdown-list-item a{
  display:flex;
  align-items:center;
  text-decoration:none;
  font-size:0.9rem;
  font-weight:600;
  color:var(--lightgray);
}

.profile-dropdown-list-item a i{
  margin-right:0.8rem;
  font-size:1.1rem;
  width:2.3rem;
  height:2.3rem;
  background-color:var(--primary);
  color:var(--secondary);
  line-height:2.3rem;
  text-align:center;
  border-radius:50%;
}







.hero-travelplan {
  position: relative;
}

.hero-travelplan img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.hero-travelplan .hero-travelplancontent {
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--secondary);
  z-index: 2;
}

.hero-travelplan .hero-travelplancontent h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: var(--secondary);
  text-align: left;
  text-shadow: 2px 2px 4px var(--darkgray);
}

.hero-travelplan .hero-travelplancontent p {
  font-size: 2rem;
  color: var(--secondary);
  text-shadow: 2px 2px 4px var(--darkgray);
}

.hero-travelplan .hero-form {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary);
  padding: 30px;
  border-radius: 5px;
  text-align: left;
  z-index: 2;
  width: 50%;
  height: auto;
}

.hero-travelplan .hero-form form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.hero-travelplan .travelplaninput {
  margin-bottom: 20px;
}

.hero-travelplan .travelplaninput h3 {
  font-size: 1.25rem;
  margin-bottom: 5px;
  color: var(--darkgray);
}

.hero-travelplan select,
.hero-travelplan .travelplaninput input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--lightgray);
  border-radius: 5px;
  font-size: 16px;
}

.travelbtn {
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: 600;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
  position: flex;
}

.travelbtn:hover {
  background-color: var(--darkgray);
}







/* hot tour */
.hot {
  max-width: 100%;
  padding: 10px 20px 20px 20px;
  align-items: center;
  background:var(--secondary);
}

.hot h1 {
  text-align: center;
  padding-bottom: 1.5rem;
  color:var(--gray);
  font-size: 2rem;
  text-transform: uppercase;
}

.hot span {
  position: relative;
  z-index: 0;
}

.tourline {
  border: none;
  margin: 0 auto;
  margin-top: 10px;
  height: 6px;
  width: 230px;
  background-color: var(--primary);
}

.hot .tourbox-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
  gap: 1rem;
}

.hot .tourbox-container .tour-box{
  background-color: var(--secondary);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.hot .tourbox-container .tour-box .image{
  height: 18rem;
  width: 100%;
  padding: 1rem;
  position: relative;
}

.hot .tourbox-container .tour-box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.hot .tourbox-container .tour-box .image h3{
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1rem;
  color: var(--secondary);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  font-weight: lighter;
  padding: 0.3rem 0.5rem;
}

.hot .tourbox-container .tour-box .image h3 i{
  color:var(--primary);
}

.hot .tourbox-container .tour-box .content{
  padding: 1.5rem;
  padding-top: 0;
}

.hot .tourbox-container .tour-box .content p{
  font-size: 0.9rem;
  margin-top: -10px;
  color: var(--lightgray);
  line-height: 1.5;
  height: 100px;

}

.hot .tourbox-container .tour-box .content .btn {
  display: inline-block;
  width: calc(50% - 5px); /* Adjusted width to accommodate both buttons */
  text-align: center;
  padding: 0.6rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 8px;
  margin-right: 5px; /* Added margin between the buttons */
  color: var(--secondary);
  background: var(--primary);
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.hot .tourbox-container .tour-box .content .btn:last-child {
  margin-right: 0; /* Remove margin on the last button */
}

.hot .tourbox-container .tour-box .content .btn:hover {
  background: var(--darkgray);
}









/* review */
.review {
  display: grid;
  height: 100%;
  place-items: center;
}

.centertitle {
  max-width: 100%;
  line-height: 50px;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary);
  background: var(--green); 
  height: 60px;
}

hr.underlinetitle {
  border: none;
  margin: 0 auto;
  margin-top: -5px;
  height: 3px;
  width: 150px;
  background-color: var(--secondary);
}

.review-content {
  max-width: 100%;
  padding: 0 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px; 
  align-items: center;
  justify-content: space-between;
  height: auto;
  background: var(--green);
}

.review-content .box {
  background: var(--secondary);
  border-radius: 3px;
  padding: 25px;
  width: 100%; /* Set the width to 100% to occupy equal space */
}

@media (max-width: 768px) {
  .review-content {
    grid-template-columns: 1fr; /* Display boxes in a single column on smaller screens */
  }
}

.review-content .box i.quote{
  font-size:20px;
  color:var(--primary);
}

.review-content .box .content{
  padding-top:10px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.review-content .box .info .user{
  font-size:17px;
  font-weight:600;
}

.review-content .box .info .studid{
  font-size:16px;
  color:var(--lightgray);
  font-weight:600;
}

.review-content .box .info .stars{
  margin-top:2px;
}

.box .info .stars i{
  color:var(--primary);
}

.review-content .box .content .image{
  height:75px;
  width:75px;
  padding:3px;
  border-radius:50%;
  background:var(--primary);
}

.box .content .image img{
  height:100%;
  width:100%;
  object-fit:cover;
  border-radius:50%;
  border:2px solid var(--secondary);
}






/* footer */
footer {
  position: relative;
  margin-top: 50px; /* Adjust this value as needed */
  width: 100%;
  line-height: 20px;
  color: var(--secondary);
  background: var(--black);
}

.footer-content{
  display:flex;
}

.footer-content .box{
  flex-basis:50%;
  padding:10px 20px;
}

.box h2{
  font-size:1.125rem;
  font-weight:600;
  text-transform:uppercase;
  text-align:center;
}

.box .content{
  margin:20px 0 0 0;
}

hr.underline {
  border: none;
  margin: 0 auto;
  margin-top: 15px;
  height: 3px;
  width: 120px;
  background-color: var(--primary);
}

.box .content p{
  text-align:justify;
}

.left .content .social{
  margin:20px 0 0 0;
}

.left .content .social a{
  padding:0 2px;
  color:var(--secondary);
}

.left .content .social a i{
  height:40px;
  width:40px;
  background:var(--darkgray);
  line-height:40px;
  text-align:center;
  font-size:18px;
  border-radius:5px;
  transition:0.3s;
}

.left .content .social a i:hover{
  background:var(--primary);
}

.center .content .fa-solid{
  font-size:1.4375rem;
  background:var(--darkgray);
  height:45px;
  width:45px;
  line-height:45px;
  text-align:center;
  border-radius:50%;
  transition:0.3s;
  cursor:pointer;
}

.center .content .fa-solid:hover{
  background:var(--primary);
}

.center .content .text{
  font-size:1.0625rem;
  font-weight:600;
  padding-left:10px;
}

.center .content .phone{
  margin:10px 0;
}

.right form .btn{
  margin-top:10px;
  text-align: center;
}

.right form .btn button{
  height:80px;
  width:50%;
  border:none;
  border-radius:10px;
  outline:none;
  background:var(--primary);
  color:var(--secondary);
  font-size:2.25rem;
  font-weight:500;
  cursor:pointer;
  transition:0.3s;
}

.right form .btn button:hover{
  background:var(--darkgray);
}

.bottom{
  text-align:center;
  padding:5px;
  font-size:0.9375rem;
  background:var(--darkgray);
}

.bottom span,
.bottom i{
  color:var(--lightgray);
}

.bottom a{
  color:var(--primary);
  text-decoration:none;
}

.bottom a:hover{
  text-decoration:underline;
}

@media screen and (max-width:900px){
  footer{
      position:relative;
      bottom:0px;
  }
  .footer-content{
      flex-wrap:wrap;
      flex-direction:column;
  }
  .footer-content .box{
      margin:5px 0;
  }
}








/* profile */ 
.wrapper{
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    max-width: 650px;
    height: 350px;
    display: flex;
    box-shadow: 0 1px 20px 0 var(--shadow);
}

.wrapper .left{
    width: 35%;
    background: rgba(0,0,0,0.7);
    padding: 40px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.wrapper .left .editprofbtn {
  margin-top:30px;
  text-align: center;
}

.wrapper .left .editprofbtn {
  height:50px;
  width:75%;
  border:none;
  border-radius:10px;
  outline:none;
  background:var(--primary);
  color:var(--secondary);
  font-size:1.025rem;
  font-weight:500;
  cursor:pointer;
  transition:0.3s;
}

.wrapper .left .editprofbtn:hover {
  background:var(--darkgray);
}

.wrapper .left img{
    margin-bottom: 10px;
    border-radius: 5px;
}

.wrapper .left h4{
    margin-bottom: 10px;
    color: var(--secondary);
}

.wrapper .left p{
    font-size: 15px;
    color: var(--secondary);
}

.wrapper .right{
    width: 65%;
    background: rgba(255, 255, 255, 0.7);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
}

.wrapper .right .info{
    margin-bottom: 25px;
}

.wrapper .right .info h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom:  1px solid var(--black);
    color: var(--gray);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .info_data{
    display: flex;
    justify-content: space-between;
}

.wrapper .right .info_data .data{
    width: 45%;
}

.wrapper .right .info_data .data h4{
    color: var(--gray);
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p{
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--lightgray);
}

.wrapper .center {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--secondary);
  padding: 20px 30px;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.wrapper .afterpost {
  display: none;
}

.wrapper .thanks {
  font-size: 25px;
  color: var(--black);
  font-weight: 500;
}

.wrapper .editrate {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 16px;
  color: var(--black);
  font-weight: 500;
  cursor: pointer;
}

.wrapper .editrate:hover {
  text-decoration: underline;
}

.wrapper .star-widget input {
  display: none;
}

.star-widget label {
  font-size: 40px;
  color: var(--primary);
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: var(--yellow);
}

input:checked ~ label {
  color: var(--yellow);
}

input#rate-5:checked ~ label {
  color: var(--yellow);
  text-shadow: 0 0 20px var(--yellow);
}

#rate-1:checked ~ .rating header:before {
  content: "I just hate it 😠";
}

#rate-2:checked ~ .rating header:before {
  content: "I don't like it 😒";
}

#rate-3:checked ~ .rating header:before {
  content: "It is awesome 😄";
}

#rate-4:checked ~ .rating header:before {
  content: "I just like it 😎";
}

#rate-5:checked ~ .rating header:before {
  content: "I just love it 😍";
}

.wrapper .rating {
  display: none;
}

input:checked ~ .rating {
  display: block;
}

.rating header {
  width: 100%;
  font-size: 25px;
  color: var(--primary);
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}

.rating .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.rating .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: var(--black);
  border: 1px solid var(--black);
  background: var(--secondary);
  padding: 10px;
  font-size: 17px;
}

.rating .ratebtn button {
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  background: var(--primary);
  color: var(--secondary);
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

.rating .ratebtn button:hover {
  background: var(--darkgray);
}