@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root{
  --primary:#4bb6b7;
  --secondary:#FFFFFF;
  --gray:#575757;
  --lightgray:#848484;
  --lightgray2:rgb(127,183,126,0.1);
  --black:#393e46;

  --shadow:0px 2px 8px 0px var(--lightgray);
}

* {
  margin:0;
  padding:0;
  color:var(--secondary);
  box-sizing:border-box;
  font-family:"Poppins", sans-serif;
}

footer{
  bottom:0px;
  width:100%;
  line-height:20px;
  background:var(--black);
}

.main-content{
  display:flex;
}

.main-content .box{
  flex-basis:50%;
  padding:10px 20px;
}

.box h2{
  font-size:1.125rem;
  font-weight:600;
  text-transform:uppercase;
}

.box .content{
  margin:20px 0 0 0;
}

.box .content:before{
  position:absolute;
  content:'';
  top:40px;
  height:2px;
  width:100%;
  background:var(--lightgray2);
}

.box .content:after{
  position:absolute;
  content:'';
  top:40px;
  height:2px;
  width:15%;
  background:var(--primary);
}

.box .content p{
  text-align:justify;
}

.left .content .social{
  margin:20px 0 0 0;
}

.left .content .social a{
  padding:0 2px;
}

.left .content .social a i{
  height:40px;
  width:40px;
  background:#2E3238;
  line-height:40px;
  text-align:center;
  font-size:18px;
  border-radius:5px;
  transition:0.3s;
}

.left .content .social a i:hover{
  background:var(--primary);
}

.center .content .fa-solid{
  font-size:1.4375rem;
  background:#2E3238;
  height:45px;
  width:45px;
  line-height:45px;
  text-align:center;
  border-radius:50%;
  transition:0.3s;
  cursor:pointer;
}

.center .content .fa-solid:hover{
  background:var(--primary);
}

.center .content .text{
  font-size:1.0625rem;
  font-weight:600;
  padding-left:10px;
}

.center .content .phone{
  margin:10px 0;
}

.right form .text{
  font-size:1.0625rem;
  margin-bottom:2px;
  color:var(--lightgray);
}
.right form .msg{
  margin-top:10px;
}

.right form input, .right form textarea{
  width:100%;
  font-size:1.0625rem;
  background:var(--black);
  padding-left:10px;
  border:1px solid var(--lightgray);
}

.right form input:focus,
.right form textarea:focus{
  outline-color:var(--primary);
}

.right form input{
  height:35px;
}

.right form .btn{
  margin-top:10px;
}

.right form .btn button{
  height:40px;
  width:100%;
  border:none;
  outline:none;
  background:var(--primary);
  font-size:1.0625rem;
  font-weight:500;
  cursor:pointer;
  transition:0.3s;
}

.right form .btn button:hover{
  background:#2E3238;
}

.bottom{
  text-align:center;
  padding:5px;
  font-size:0.9375rem;
  background:#2E3238;
}

.bottom span,
.bottom i{
  color:var(--lightgray);
}

.bottom a{
  color:var(--primary);
  text-decoration:none;
}

.bottom a:hover{
  text-decoration:underline;
}

@media screen and (max-width:900px){
  footer{
      position:relative;
      bottom:0px;
  }
  .main-content{
      flex-wrap:wrap;
      flex-direction:column;
  }
  .main-content .box{
      margin:5px 0;
  }
}