.sidenav {
  height: 100%;
  width: 800px;
 position: absolute;
  z-index: 1;
  top: 80;
  left: 0;
  background-color: #f0eeee;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.75);
  border: 1px solid;
 
 
}


.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #141010;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.main {
  margin-left: 200px; 
  font-size: 20px;
  padding: 0px 10px;
}


.active {
  background-color: rgb(238, 240, 238);
  color: rgb(20, 15, 15);
}

.dropdown-container {
  display: none;
  background-color: #faf9f9;
  padding-left: 8px;
}


.fa-caret-down {
  float: right;
  padding-right: 8px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body
{
background-image: url(images/image.gif);
background-size: cover; 
background-repeat: no-repeat;
background-attachment: fixed;
}

.container_calendar {
background-color: #ffffff;
padding:20px;
margin: 60px;
box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.75);
}
 .add{
  cursor: pointer;
  color: #fff;
  width: 15%;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  background: linear-gradient(45deg, #fabd14, #eb9616  );
  float: right;
  margin-right:60px ;
 
 

}


.delete{
  cursor: pointer;
  color: #fff;
  width: 15%;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  background: linear-gradient(45deg, #fabd14, #eb9616  );
  float: left;
  margin-left:60px;
  

}

.print{
  cursor: pointer;
  color: #fff;
  width: 15%;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  background: linear-gradient(45deg, #fabd14, #eb9616  );
  float: right;
  margin-right:60px;
}


.popup{
  background:rgba(0, 0, 0, 0.6) ;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content{
  height: 250px;
  width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}








